@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  @apply bg-white text-gray-900 font-poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-playfair;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
